/* Navbar */
.main-nav {
  display: grid;
  grid-template-rows: 50px;
  border-radius: 12px;
  background-color: rgb(40, 40, 40);
}

.main-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav ul li {
  list-style: none;
  margin: 20px;
}

.main-nav ul div {
  display: flex;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color: aquamarine;
}

/* Register and Login Form */
.register,
.login {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 450px;
}

.register form {
  margin-top: 120px;
  background-color: rgb(237, 240, 243);
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.login form {
  margin-top: 120px;
  background-color: rgb(237, 240, 243);
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.register form input,
.login form input {
  margin: 8px;
  padding: 4px;
  width: 450px;
  height: 50px;
  text-indent: 5px;
  border-radius: 10px;
}

.register form button,
.login form button {
  width: 300px;
  height: 45px;
  border-radius: 10px;
  color: white;
  background-color: rgb(40, 40, 40);
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 3px;
  cursor: pointer;
}

.forgot {
  color: blue;
  text-decoration: underline;
}

.forgot:hover {
    color: rgb(24, 24, 27);
  }